<section class="art section" id="art">
    <div class="art__container container grid">
        <div class="art__content grid">
            
            <div class="art__data">
                <h1 class="art__title">{{ site.data.content.home.title }}</h1>
                <h3 class="art__subtitle">{{ site.data.content.home.subtitle }}</h3>
                <p class="art__description">{{ site.data.content.home.content }}</p>
                {% if site.data.content.home.button %}
                <a href="#contact" class="button button--flex">
                    {{ site.data.content.home.button }} <i class="uil uil-message button__icon"></i>
                </a>
                {% endif %}
            </div>
        </div>

    </div>
</section>
