<head>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
<section class="blog section" id="blog">
    <h2 class="section__title">{{ site.data.content.blog.title }}</h2>
    <span class="section__subtitle">{{ site.data.content.blog.subtitle}}</span>

    <div class="blog__container container grid">
        {% for post in site.posts limit: 5 %}
        <div class="blog__content">
            <div>
                <i class="uil blog__icon"></i>
                <h3 class="blog__title">{{ post.title }}</h3>
                {%- assign date_format =  "%b %-d, %Y" -%}
                <p><time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ post.date | date: date_format }}
                </time></p>
                <a href="{{ post.url }}" class="button button-flex button--link">Read &rarr;</a>
           </div>
        </div>
        {% endfor %}
    </div>
    <center>
    <div class="blog__buttons">
                <a href="{{ site.baseurl }}/blog/" target="_blank" class="btn2 btn2--flex">
                    {{ site.data.content.blog.button }} Check Out The Blog <i class="uil uil-message button__icon"></i>
                </a>
    </div>
    </center>
</section>
